<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de Taller</title>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />

    <!--DATATABLE RESPONSIVE CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap5.min.css">
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <!-- DATATABLE BUTTONS CSS     -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.5.0/css/select.dataTables.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- NAV -->
    {% block content %}
    {% include 'Navbar2.html'%}
    {% endblock %}
    <!-- FIN NAV -->
</head>
<Style>
    .right {
        text-align: right !important;
    }

    .a {
        text-decoration: none !important;
    }
</Style>
<style>
    .floatWapp {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 20px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }

    .my-floatWapp {
        margin-top: 16px;
    }
</style>
{% block js %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function eliminarMaterial(id) {
        Swal.fire({
            "title": "¿Estas Seguro?",
            "text": "Esta accion no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "http://127.0.0.1:8000/Eliminar_Material/" + id + "/"
                }
            })
    }
</script>
{% endblock %}

<body>
    <!-- ----------------------- -->

    <!-- BOTON AGREGAR TALLER -->
    <br>
    <!-- <div class="container my-3" style="background-color: rgba(126, 194, 254, 0.822)" style="margin-top: 400px;">
        <p class="text-md-center text-light fs-3"> Lista de
            Sectores</p>
    </div> -->
    <br>
    <div class="container-fluid" style="background-color: rgb(126, 173, 254)" style="margin-top: 0px;">
        <p class="text-md-center text-light fs-3"> Lista de
            productos y repuestos</p>
    </div>
    {% if user.is_superuser %}

      
    <br>
    <div class="container-fluid" style="background-color: rgb(12, 12, 15);" >
        <div class="row">
          <div class="col-md-1" style="margin-left: 10px;">
            <h6 class="text-white">Simbología</h6>
          </div>
          <div class="col-md-3">
            <h6 class="text-white">Con Stock Disponible:  <div class= "vr">     </div>  <i class="fa-solid fa-circle-check fa-lg"
                style="color: #78d719;"></i>    </h6> 
          </div>
          <div class="col-md-3">
            <h6 class="text-white">Stock Inferior a 10 unidades:  <div class= "vr">  </div>  <i class="fa-solid fa-exclamation-circle fa-lg"style="color: #fff30a;"></i> </h6> 
          </div>
          <div class="col-md-3">
            <h6 class="text-white">Sin Stock:   <div class= "vr">  </div>   <i class="fa-solid fa-circle-xmark fa-lg"
                style="color: #ea252f;"></i> </h6> 
          </div>
        </div>
        <div class="row">
          <div class="col-12">

          </div>
        </div>
      </div>
    <hr>

    <div class="container-fluid " style="margin-top: 10px;">
        <div class="left" >
            <div class="d-grid gap-2 col-7" style="margin-left: 50px;">
            <button class="btn btn-sm btn-dark btn-lg" button type="button" class="btn btn-dark"
                data-toggle="modal" data-target="#AgregarEst" >
                Agregar Producto</button>
        </div>
    </div>


    {% endif %}
    <br>
    <!-- FIN BOTON AGREGAR TALLER ----------------------- -->
    <!-- TABLA -->
    <div class="container-fluid ">
        <div class="row" style="margin-left: 30px;">
            <div class="col-8">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="title">
                        <div class="table-responsive">
                            <table class="table table-striped dt-responsive" style="width:100%;" id="myTable">
                                <thead>
                                    <tr>
                                        <th style="width:5%;">ID</th>
                                        <th style="width:20%;">Nombre del elemento</th>
                                        <th style="width:30%;">Descripción del elemento</th>
                                        <th style="width:5%;">Stock</th>
                                        <th style="width:15%;">Estado Stock</th>
                                        <th style="width:15%;">Ver elemento</th>
                                        <th style="width:15%;">Solicitar</th>

                                        <!-- <th style="width:5%;">Aceptar</th> -->
                                        {% if user.is_superuser %}
                                        <th style="width:5%;">Acciones</th>
                                        
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mt in material %}
                                    <tr>
                                        <td>{{mt.idMaterial}}</td>
                                        <td>{{mt.nombreMaterial}}</td>
                                        <td>{{mt.descripcionMaterial}}</td>
                                        <td>{{mt.stock}}</td>
                                        <td>
                                            <div class="d-flex justify-content-center">

                                                <a>
                                                    {% if mt.stock == 0 %}
                                                    <i class="fa-solid fa-circle-xmark fa-2xl"
                                                        style="color: #ea252f;"></i>
                                                    {% elif 10 > mt.stock and mt.stock > 0 %}
                                                    <i class="fa-solid fa-exclamation-circle fa-2xl"
                                                        style="color: #fff30a;"></i>
                                                    {%else %}
                                                    <i class="fa-solid fa-circle-check fa-2xl"
                                                        style="color: #78d719;"></i>
                                                    {% endif %}
                                                </a>

                                            </div>

                                        </td>



                                        <td>
                                            <div class="d-flex justify-content-center">

                                                <a class="btn btn-warning"
                                                    href="http://127.0.0.1:8000/Ver_Material/{{mt.idMaterial}}">
                                                    <i class="fa-solid fa-eye fa-lg" style="color: aliceblue"></i>
                                                </a>

                                            </div>
                                        </td>
                                        {% if mt.stock == 0 %}

                                        <td>
                                            <div class="d-flex justify-content-center">

                                                <a class="btn btn-success" aria-disabled="true">
                                                    <i class="fa-solid fa-plus-circle fa-lg"
                                                        style="color: aliceblue"></i>
                                                </a>

                                            </div>
                                        </td>

                                        {%else%}
                                        <td>
                                            <div class="d-flex justify-content-center">

                                                <a class="btn btn-success"
                                                    href="http://127.0.0.1:8000/agregar_producto/{{mt.idMaterial}}">
                                                    <i class="fa-solid fa-plus-circle fa-lg"
                                                        style="color: aliceblue"></i>
                                                </a>

                                            </div>
                                        </td>

                                        {% endif %}
                                        {% if user.is_superuser %}
                                        <td>

                                            <div class="btn-group" role="group">
                                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                  Acciones
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                    <li>                                            <div class="d-grid gap-2 col-6 mx-auto">                                                  <button class="btn btn-sm               btn-danger">
                                                        <a href="#" onclick="eliminarMaterial({{mt.idMaterial}})">
                                                            <i class="fa-solid fa-trash-can" style="color: aliceblue"></i>
                                                        </a>
                                                        </button>
                                                    </div>  
                                                    </li>
                                                    <hr>
                                                  <li>   
                                                    <div class="d-grid gap-2 col-6 mx-auto">                                              <button class="btn btn-sm btn-primary">
                                                    <a
                                                        href="http://127.0.0.1:8000/Modificar_Material/{{mt.idMaterial}}">
                                                        <i class="fa-solid fa-pencil" style="color: aliceblue"></i>
                                                    </a>
                                                </button>
                                                </div>
                                                </li>
                                                </ul>
                                              </div>


                                        </td>

                                        {% endif %}

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-4 ">
                <div class="alert alert-primary" role="alert">
                    <table class="table table-boldered">
                        <thead>

                            <h3 scope="row" colapse="3" style="text-align: center;"> Listado solicitud</h3>

                            <tr>
                                <th scope="col">
                                    id Producto
                                </th>
                                <th scope="col">
                                    Nombre
                                </th>
                                <th scope="col">
                                    descripcion
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ls in listaSolicitud %}
                            <tr>
                                <td>{{ls.idMaterial}} </td>
                                <td>{{ls.nombreMaterial}}</td>
                                <td>{{ls.descripcionMaterial}} </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    <hr>
                    <div class="container-fluid">
                        <div class="d-flex justify-content-between">
                            <div class="d-grid gap-2 col mx-auto">
                                <a href="{% url 'Ver_solicitud' %}" class="btn btn-success">Ver solicitud</a>
                            </div>
                            <div class="d-grid gap-2 col mx-auto ms-5">
                                <a href="{% url 'limpiarListado' %}" class="btn btn-danger">Limpiar</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
        <a href="https://api.whatsapp.com/send?phone=56949052463&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Risi.cl."
            class="floatWapp" target="_blank">
            <i class="fa-brands fa-whatsapp" style="color: #f9fff8;"></i>
        </a>

    </div>
    

        <br><br><br><br><br><br>
        <!-- TABLE FIN-->
        <!-- ----------------------- -->
        <!-- ----------------------- -->
        <!-- Footer -->
        {% include 'Footer.html'%}
</body>
<!-- Footer FIN-->
<!-- ----------------------- -->
<!-- --MODAL--------->
<div tabindex="-1" aria-labelledby="modal1" aria-hidden="true" class="modal fade" id="modal1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="card mb-3">
            <img src="{% static 'core/img/adulto-mayor-3.jpeg'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-md-center">Taller de Yoga</h5>
                <p class="card-text">El yoga es una práctica que conecta el cuerpo, la respiración y la mente. Esta
                    práctica utiliza posturas físicas, ejercicios de respiración y meditación para mejorar la salud
                    general. El yoga se desarrolló como una práctica espiritual hace miles de años.</p>
                <p class="card-text"><small class="text-muted">Instructor Juanito Pérez</small></p>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
{% for m in messages %}
<script>
    Swal.fire({
        "title": "Felicitaciones",
        "text": "{{m}}",
        "icon": "success"
    })

</script>
{% endfor %}
{% endif %}

<!-- --FIN MODAL--------->
<!-- MODAL -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<!-- jQuery -->
<!-- DataTable -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap5.min.js"></script>
<!-- FUNCION Descarga -->
<script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/select/1.5.0/js/dataTables.select.min.js"></script>
<!-- FUNCION dataTable -->
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
            dom: 'Bfrtip',
            buttons: [
                // 'copy',
                // 'csv',
                // 'excel',
                {extend: 'excel',
                text:'<i class="fa-solid fa-file-excel fa-xl" style="color: #48af2c;"></i>',

                }
                // 'pdf',
                // {
                //     extend: 'print',
                //     text: 'Imprimir pantalla',
                //     exportOptions: {
                //         modifier: {
                //             selected: null
                //         }
                //     }
                // }
            ],
            select: false,
            pageLength: 5,
            language: {
                lengthMenu: "Mostrar _MENU_ registros por página",
                zeroRecords: "Ningún usuario encontrado",
                info: "Mostrando de _START_ a _END_ de un total de _TOTAL_ registros",
                infoEmpty: "Ningún usuario encontrado",
                infoFiltered: "(filtrados desde _MAX_ registros totales)",
                search: "Buscar:",
                loadingRecords: "Cargando...",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            },
        });
        responsive: true
        autoWidth: false
        paging: false
    });
</script>
<!-- Modal Crear servicio  -->


<!-- Modal -->
{% load crispy_forms_tags %}

<div class="modal fade" id="AgregarEst" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div style="text-align: center;">
                        {% csrf_token %}

                        {{ form | crispy}}
                    </div>
                    <br><br>
                    <center>
                        <div>
                            <input type="submit" class="btn btn-success" value="Enviar">

                            <input type="reset" class="btn btn-danger" value="Limpiar">

                        </div>

                    </center>

                </form>
            </div>
        </div>
    </div>
</div>





</html>